.layui-input-block
{
    width: 300px;
}
.layui-field-box
{
    margin-left: 32%;
}
.loginTip
{
    position: absolute;
    right:18%;
    color: #999999;
}
.tag
{
    color: red;
    font-size: large;
}